.container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
    min-height: 12rem;
    background-color: #1B0273;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
}

.description {
    font-size: 1.3rem;
    margin: 1;
    margin-top: 0.75rem;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}

.section {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.sectiontitle {
    font-size: 2rem;
    font-weight: 700;
    color: #1B0273;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.406);
    transition: transform 0.2s;
}

.cardtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1B0273;
    text-align: center;
}

.carddescription {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
    font-style: italic;
}

.sessao {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: center;
}

.sessaotitle {
    font-size: 2rem;
    font-weight: 700;
    color: #1B0273;
    margin-bottom: 1rem;
}

.cardtext {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1B0273;
    margin-bottom: 0.5rem;
    text-align: left;
}

.description1 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.subdescription1 {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    text-align: justify;
    margin-top: 0.5rem;
}

.description2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-top: 1rem;
}