.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.aside{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B0273;
    width: 70%;
    height: 100vh;
}

.title{
    color: white;
    font-family: var(--font-montserrat);
    display: flex;
    text-align: left;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    animation: fadeSlideUp 1.2s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}


@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    flex-direction: column;
}

.line{
    width: 0.2rem;
    height: 3rem;
    background-color: #1B0273;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.text{
    font-family: var(--font-inter);
    font-size: 1.5rem;
    color: #000000;
}

.title1{
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.welcome{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: var
}

    @media (max-width: 900px) {
    .container {
        width: 100%;
        height: 100vh;
    }
    .aside,
    .main {
        width: 100%;
        height: 100vh;
        min-height: 110px;
        padding: 0.5rem;
    }
    .title {
        font-size: 2rem;
        width: 90%;
        text-align: center;
        justify-content: center;
        padding: 0.3rem 0;
    }
    .line {
        height: 3rem;
        width: 0.2rem;
    }
    .logo {
        gap: 0.5rem;
    }
    .text {
        font-size: 1rem;
        padding: 0 0.5rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .aside,
    .main {
        min-height: 80px;
        height: auto;
        width: 100%;
        padding: 0.3rem;
    }
    .title {
        font-size: 0.9rem;
        width: 100%;
        padding: 0.2rem 0;
    }
    .text {
        font-size: 0.8rem;
        padding: 0.2rem;
    }
    .logo {
        gap: 0.3rem;
    }
    .line {
        display: none;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 0.7rem;
    padding: 0.1rem 0;
    }
    .text {
        font-size: 0.7rem;
    }
    .aside,
    .main {
        min-height: 50px;
        padding: 0.1rem;
    }
}