.container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.links {
    display: flex;
    gap: 15px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0070f3;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.carrouselContainer {
    padding: 0 16px;

}