.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #020b8d;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 12vh;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logoText {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 4rem;
}

.navLink {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #ccc;
}

.icon {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actions {
    display: flex;
    gap: 10px;
}

.menuIcon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.menuLine {
    width: 35px;
    height: 4px;
    background-color: #fff;
    display: flex;
    transition: background-color 0.3s ease;
}

.menuLine:hover {
    background-color: #ccc;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #1a0033;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
}

.dropdownMenu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.dropdownMenu a:hover {
    background-color: #fff;
    color: #1a0033;
}

.menuIcon:hover .dropdownMenu {
    display: block;
}